.cabecalho {
    background-color: black;
    color: rgb(170, 13, 13);
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: black;
    color: rgb(156, 18, 18);
    padding: 100px;
}

.section2 {
    background-color: rgb(153, 11, 11);
    padding: 100px;
}

.cabecalho-imagem{
    width: 2%;
}

.rodape{
    background-color: blanchedalmond;
    color: black;
}