.cabecalho {
    background-color: rgb(114, 17, 17);
    color: rgb(0, 0, 0);
    display: flex;
    padding: 24px 0;
    font-size: xx-large;
}

.section1 {
    background-image: linear-gradient(rgb(122, 17, 17), black);
    color: rgb(156, 18, 18);
    padding: 100px;
    font-size: x-large;
}

.section2 {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(112, 16, 16), blanchedalmond);
    padding: 100px;
    font-size: x-large;
}

.cabecalho-imagem{
    width: 2%;
}

.rodape{
    background-color: blanchedalmond;
    color: black;
    font-size: x-large;
}